<div>
    <h1>This is what you sent me..</h1>
    {{#each resultArtist}}
        <img src="{{images.[0].url}}" alt="">
        <h2 class="name">{{name}}</h2>
        <button href="{{href}}">link</button>
    {{/each}}
</div>
